$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
$white1: #ebebeb;
html,body{
  height: 100%;
  overflow: hidden;
}
p,span,h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat-Regular';
  b{
    font-family: 'Montserrat-Bold';
  }
}
b{
  font-family: 'Montserrat-Bold';
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf')  format('truetype'),
  url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Medium.woff') format('woff'),
       url('../fonts/Montserrat-Medium.ttf')  format('truetype'),
       url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-Bold.ttf')  format('truetype'),
       url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrapper{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  &__inner{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -15px;
    overflow: auto;
  }
}
.header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 500;
  &.black{
    .header__logo{
      &:before{
        animation: lineBlack 1s 1;
        background: black;
      }
      &:after{
        animation: lineBlack 1.5s 1;
        background: black;
      }
    }
    .header__logo__inner span{
      color: black;
      animation: logoBlack 0.5s 1;
    }
    .header__menu li a{
      color: black;
      animation: logoBlack 0.5s 1 0.5s;
      &:before,
      &:after{
        color: black;
        text-shadow: 0 0 3px rgba(0,0,0,0.7);
      }
    }
  }
  &__menu{
    display: flex;
    height: 120px;
    align-items: center;
    width: 75%;
    justify-content: space-between;
    li{
      display: inline-block;
      overflow: hidden;
      height: 17px;
      a{
        display: inline-block;
        color: rgba(255,255,255,0.8);
        text-transform: uppercase;
        font-size: 16px;
        transition: 0.3s all;
        letter-spacing: 2px;
        position: relative;
        transition: 0.3s all;
        transform: translate3d(0,0,0);
        &:before{
          content:attr(title);
          position: absolute;
          left: 0;
          top: 100%;
          text-shadow: 0 0 3px rgba(255,255,255,0.7);
          opacity: 1;
          transition: 0.1s all;
        }
        &:hover{
          color: white;
          text-decoration: none;
          transform: translate3d(0,-23px,0);
        }
      }
    }
  }
  &__logo{
    position: relative;
    font-weight: bold;
    font-size: 22px;
    padding-left: 44px;
    line-height: 1;
    color: #fff;
    &__inner {
      overflow: hidden;
      height: 22px;
      display: inline-block;
      span {
        position: relative;
        display: inline-block;
        transition: 0.3s all;
        &:before {
          content: attr(title);
          position: absolute;
          left: 0;
          top: 100%;
        }
      }
      &:hover{
        span{
          transform:translate3d(0,-23px,0);
        }
      }
    }
    &:hover{
      text-decoration: none;
      color: #fff;
      &:before{
        animation: logoLnHover 1s 1;
      }
      &:after{
        animation: logoLnHover 1s 1 0.5s;
      }
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      background: white;
    }
    &:before{
      bottom: -2px;
      animation:logoLnOpen 0.7s 1;
    }
    &:after{
      bottom: -6px;
      animation:logoLnOpen 1.4s 1;
    }
  }
}
.bottom-menu{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  display: flex;
  z-index: 500;
  &__left{
    background: #fff;
    width: 30%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    &.navOpen{
      .bottom-menu__soc,
      .bottom-menu__nav{
        transform:translate3d(0,-65px,0);
      }
    }
  }
  &__soc{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    transition: 0.5s all;
    a{
      display: inline-block;
      color: black;
      overflow: hidden;
      height: 16px;
      padding: 0 20px;
      letter-spacing: 2px;
      &:hover{
        span{
          transform: translate3d(0,-23px,0);
        }
      }
      span{
        display: inline-block;
        transition: 0.3s all;
        transform: translate3d(0,0,0);
        position: relative;
        &:before{
          content:attr(title);
          position: absolute;
          left: 0;
          top: 100%;
        }
      }
    }
  }
  &__nav{
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    transition: 0.5s all;
    a{
      display: inline-block;
      color: #fff;
      overflow: hidden;
      height: 16px;
      padding: 0 20px;
      letter-spacing: 2px;
      &:hover{
        span{
          transform: translate3d(0,-23px,0);
        }
      }
      span{
        display: inline-block;
        transition: 0.3s all;
        transform: translate3d(0,0,0);
        position: relative;
        &:before{
          content:attr(title);
          position: absolute;
          left: 0;
          top: 100%;
        }
      }
    }
  }
  &__adress{
    background: $white1;
    width: 40%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 2px;
  }
  &__powered{
    width: 30%;
    color: white;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    &.black{
      color: black;
    }
  }
}
.section-top{
  left: 0;
  top: 0;
  width: 100%;
  background: url("../images/photo_1.jpg")no-repeat center;
  background-size: cover;
  &.hide{
    height:0;
    overflow: hidden;
    display: none;
  }
  &__title{
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h1{
      margin: 0;
      color: white;
      font-size: 60px;
      font-weight: normal;
      b{
        font-weight: bold;
      }
    }
    span{
      margin-top: 15px;
      color: white;
      display: block;
      font-size: 14px;
    }
  }
}
.butt{
  font-size: 14px;
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
  padding: 13px 33px;
  display: inline-block;
  color: white;
  position: relative;
  overflow: hidden;
  &:before{
    color: white;
    content: attr(title);
    position: absolute;
    padding: 13px 33px;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 1;
    transition: 0.2s all;
  }
  &:after{
    z-index: 0;
    color: black;
    content: attr(title);
    position: absolute;
    padding: 13px 33px;
    left: 0;
    top: 0;
    background-color: #fff;
    transform: translate3d(0,-100%,0);
    transition: 0.2s all;
  }
  &:hover{
    &:before{
      transform: translate3d(0,100%,0);
    }
    &:after{
      transform: translate3d(0,0%,0);
    }
  }
}
.slider{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  &__item{
    position:relative;
    width: 916px;
    height: 390px;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    &.item-left{
      .slider__item__title{
        text-align: left;
        left: 0;
      }
      .slider__item__numb{
        right: 250px;
        bottom: 0px;
        line-height: 0.8;
        overflow: hidden;
        span{
          display: inline-block;
          font-family: Montserrat-Bold;
        }
      }
    }
    &.item-right{
      .butt{
        position: absolute;
        right: 330px;
      }
      .slider__item__title{
        right: 260px;
        text-align: right;
      }
      .slider__item__numb{
        left:  25px;
        bottom: 0px;
        line-height: 0.8;
        overflow: hidden;
        span{
          display: inline-block;
          font-family: Montserrat-Bold;
        }
      }
    }
    &:focus{
      text-decoration: none;
    }
    &:hover{
      text-decoration: none;
      .slider__item__photo{
        transform: scale(1.1);
      }
      .slider__item__photo__hover {
        opacity: 0.1;
      }
      .butt{
        &:before{
          transform: translate3d(0,100%,0);
        }
        &:after{
          transform: translate3d(0,0%,0);
        }
      }
    }
    &__center{
      display: flex;
      align-items: center;
    }
    &__center{
      display: flex;
      align-items: center;
    }
    &__numb{
      position: absolute;
      font-size: 450px;
      font-family: 'Montserrat-Bold';
      color: black;
      z-index: 3;
    }
    &__info{
      padding-left: 100px;
      color: black;
      text-decoration: none;
      p{
        font-size: 14px;
        font-family: 'Montserrat-bold';
        letter-spacing: 1.7px;
        &:hover{
          text-decoration: none;
        }
      }
      span{
        font-family: 'Montserrat-Medium';
      }
    }
    &__title{
      color:black;
      font-family: 'Montserrat-Bold';
      text-transform: uppercase;
      position: absolute;
      top: -30px;
      font-size: 60px;
      span{
        font-family: 'Montserrat-Bold';
        position: relative;
      }
      &__back{
        z-index: 1;
      }
      &__top{
        z-index: 3;
      }
    }
    .butt{
      margin-top: 38px;
      margin-left: 100px;
    }
    &__photo{
      position: relative;
      z-index: 2;
      margin: 25px 0 0 100px;
      width: 483px;
      height: 259px;
      transition: 0.2s all;
      &__img {
        height: 100%;
        width: 100%;
        overflow: hidden;
        img {
          min-height: 100%;
          min-width: 100%;
          max-width: 130%;
          max-height: 130%;
        }
      }
      &__hover{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: 0.3s all;
        img{
          min-height: 100%;
          min-width: 100%;
          max-width: 130%;
          max-height: 130%;
        }
      }
      &:hover{
        transform: scale(1.2);
        .slider__item__photo__hover{
          opacity: 0.1;
          overflow: hidden;
        }
      }
    }
    &__right{
      color: black;
      display: flex;
      justify-content:center;
      align-items:center; 
    }
    &__numb-min{
      font-size: 36px;
      overflow: hidden;
      position: relative;
      span{
        display: inline-block;
        font-family: 'Montserrat-Bold';
      }
    }
  }
}
.section.active{
  .slider__item__title{
    overflow: hidden;
  }
  .slider__item__title__back{
    display: inline-block;
    transform:translate3d(0,0%,0);
    animation: textUp 1s 1 0.2s;
  }
  .slider__item__title__top{
    display: inline-block;
    transform:translate3d(0,0%,0);
    animation: textDown 1s 1 0.2s;
  }
  .slider__item__photo__img img{
    animation: textUp 1s 1 0.2s;
  }
  .slider__item__photo__hover img{
    animation: textUp 1s 1 0.2s;
  }
  .slider__item__numb span{
    transform:translate3d(0,0%,0);
    animation: textUp 0.8s 1 0.2s;
  }
  .slider__item__numb-min span{
    transform:translate3d(0,0%,0);
    animation: textDowns 1s 1 ;
  }
}
@keyframes textUp{
  0%{
    transform:translate3d(0,-100%,0);
  }
  100%{
    transform:translate3d(0,0%,0);
  }
}
@keyframes textDown{
  0%{
    transform:translate3d(0,100%,0);
  }
  100%{
    transform:translate3d(0,0%,0);
  }
}


// LOAD - S


.section.load-s{
  .slider__item__title{
    overflow: hidden;
  }
  .slider__item__title__back{
    display: inline-block;
    transform:translate3d(0,-100%,0);
    animation: textUps 0.5s 1 ;
  }
  .slider__item__title__top{
    display: inline-block;
    transform:translate3d(0,100%,0);
    animation: textDowns 0.5s 1 ;
  }
  .slider__item__photo__img img{
    animation: textDowns 1s 1 ;
  }
  .slider__item__photo__hover img{
    animation: textDowns 1s 1 0.2s;
  }
  .slider__item__numb span{
    transform:translate3d(0,0%,0);
    animation: textUps 1s 1 ;
  }
  .slider__item__numb-min span{
    transform:translate3d(0,0%,0);
    animation: textDowns 1s 1 ;
  }
} 
// LOAD - R


.section.load-r{
  .slider__item__title{
    overflow: hidden;
  }
  .slider__item__title__back{
    display: inline-block;
    transform:translate3d(0,-100%,0);
    animation: textUps 0.5s 1 ;
  }
  .slider__item__title__top{
    display: inline-block;
    transform:translate3d(0,100%,0);
    animation: textDowns 0.5s 1 ;
  }
  .slider__item__photo__img img{
    animation: textUps 1s 1 ;
  }
  .slider__item__photo__hover img{
    animation: textUps 1s 1 0.2s;
  }
  .slider__item__numb span{
    transform:translate3d(0,0%,0);
    animation: textUps 1s 1 ;
  }
  .slider__item__numb-min span{
    transform:translate3d(0,0%,0);
    animation: textDowns 1s 1 ;
  }
}
@keyframes textUps{
  0%{
    transform:translate3d(0,0%,0);
  }
  100%{
    transform:translate3d(0,-100%,0);
  }
}
@keyframes textDowns{
  0%{
    transform:translate3d(0,0%,0);
  }
  100%{
    transform:translate3d(0,100%,0);
  }
}



@keyframes logoLnOpen{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
@keyframes logoLnHover{
  0%{
    width: 100%;
  }
  50%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
@keyframes lineBlack {

  0%{
    width: 100%;
    background: white;
  }
  50%{
    width: 0%;
    background: white;
  }
  100%{
    width: 100%;
    background: black;
  }
}
@keyframes logoBlack {
  0%{
    color: white;
    transform: translate3d(0,0,0);
  }
  100%{
    transform: translate3d(0,-23px,0);
    color: black;
  }
}
//MAP
#map{
  width: 100%;
  height: 100%;
}
.map__text{
  height: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  margin-left: 150px;
  position: absolute;
  z-index: 1;
  pointer-events:none;
  p{
  font-size: 90px;
  font-family: 'Montserrat-Bold';
    span{
      display: block;
      font-family: 'Montserrat-Regular';  
    }
  }
}
.infowindow{
  text-align: center;
  p{
    margin: 25px 0 25px;
    font-size: 12px;
    font-family: 'Montserrat-Regular';
    color: rgba(0,0,0,0.5);
    b{
      color:black;
    }
  }
}